<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mark Swearingen's Book_App</title>
  <link rel="stylesheet" href=".\styles\base.css">
</head>
<body>

  <h1>Hello World this is Mark's Book_App</h1>
  <main>
  <header>
    <%- include('./layout/header') %>
  </header>
  <section class="task-view-container">
    <ul class="">
      <li class="taskitem" data-id="<%=task.id %>">
        <!-- add EJS here -->
        <!-- include header
        <%   %> -->
      </li>
    </ul>

  </section>
    <h4>Search by Title or Author</h4>
    <form action="/searches" method="post">
      <input type="text" name="search" placeholder="Enter a title or author" required>
      <fieldset>
        <label for="title">
          <span>Title</span>
          <input type="radio" name="search" value="title" required>
        </label>
      </fieldset>
      <fieldset>
        <label for="author">
          <span>Author</span>
          <input type="radio" name="search" value="author" required>
        </label>
      </fieldset>
      <button type="submit">Search the Google Books API</button>
    </form>
  </main>
</body>
</html>