<footer>
  <ul>
    <li><span class="icon-mail2"><a href=""></a></span></li>
    <li><span class="icon-twitter"><a href=""></a></span></li>
    <li><span class="icon-github"><a href=""></a></span></li>
    <li><span class="icon-linkedin2"><a href=""></a></span></li>
  </ul>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/app.js"></script>
</footer>
